<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html> 
  <head>
    <title>Series</title>
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>

  <body>
    <a name="top"></a>
  <h1>100th Anniversary</h1>
  <hr />
  <img src="static/images/100thanniversary.jpg" style="width:250px;height:400px" />
  <p>id: 18454</p>
  <p>StartYear: 2014</p>
  <p>EndYear: 2099</p>
  <p>Creators</p>
  <p>Characters</p>
  <hr/>
  </body>
</html>