<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html> 
  <head>
    <title>Heroes</title>
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>

  <body>
    <a name="top"></a>
  <h1>Dormammu</h1>
  <hr/>
  <img src="static/images/dormammu.jpg" style="width:250px;height:400px" />
  <p>id: 1009280</p>
  <p>Series</p>
  <p><a href="http://marvel.com/characters/575/dormammu?utm_campaign=apiRef&utm_source=b007d4496b03350e50a42caa0c26d166">Details</a></p>
  <p><a href="http://marvel.com/universe/Dormammu?utm_campaign=apiRef&utm_source=b007d4496b03350e50a42caa0c26d166">Wiki</a></p>
  <hr/>
  </body>
</html>