<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html> 
  <head>
    <title>Series</title>
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>

  <body>
    <a name="top"></a>
  <h1>Gurihiru</h1>
  <hr />
  <img src="static/images/giruhiru.jpg" style="width:250px;height:350px" />
  <p>id: 322</p>
  <p>Comics</p>
  <p>Series</p>
  <p><a href="http://marvel.com/comics/creators/322/gurihiru?utm_campaign=apiRef&utm_source=b007d4496b03350e50a42caa0c26d166">Details</a></p>
  <hr/>
  </body>
</html>