<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html> 
  <head>
    <title>Heroes</title>
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>

  <body>
    <a name="top"></a>
	<h1>List of Heroes</h1>
	<hr />
	<a href={{ url_for('index') }}>Go Back to Main Page</a><br/>
	<p><a href={{ url_for('dormammu') }}>Dormammu</a><br/></p>
  <p>Examples of items that should be completed</p>
  <P>Doctor Strange</p>
  <P>Hulk</p>
  <P>X-23</p>
  <P>Storm</p>
  </body>
</html>