<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html> 
  <head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The basic HTML tags with examples.">
    <meta name="keywords" content="html,headings,bullets,links,tables,div, span">
    <link rel="shortcut icon" href="static/images/html-icon-md.png">
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>
 <!-- styling body -->
  <body>
    <a name="top"></a>
	<h1 class="firsth1">TutorialDB</h1>
	<hr />
    <!--<h1 class="secondh1">Purpose</h1>-->
    <hr />
	<!--<h2>Insert an image into your webpage</h2>-->
	<img src="static/images/spider.jpg" alt="Marvel Icon">
	<hr />
    <h2>Purpose of the site</h2>
    <p>
      This is a sample tutorial site to show the basics of IDB. Feel free to use this code as a framework for your current project.
    </p>  
	<hr />
	<h2>A Link To The API</h2>
	<a href="https://developer.marvel.com/">MARVEL API</a>
	<h2>Pillars</h2>
	<a href={{ url_for('heroes') }}><p>Heroes</p></a><br/>
	<a href={{ url_for('creators') }}><p>Creators</p></a><br/>
	<a href={{ url_for('series') }}><p>Series</p></a><br/>
 
  </body>
</html>